.case_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 500px;
    height: 350px;
}
.img_box{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.img_box img{
    width: 90%;
}
.img_box img:hover{
    animation: hoverCase linear 0.1s forwards;
}
@keyframes hoverCase{
    from {
        width: 90%;
    }
    to {
        width: 100%;
    }
}

@media screen and (max-width: 1080px){
    .case_box{
        width: 320px;
        height: 260px;
    }
    .img_box{
        height: 250px;
    }
}
@media screen and (max-width: 768px){
    .case_box{
        width: 300px;
        height: 250px;
    }
    .img_box{
        height: 200px;
    }
}
