* {
    font-family: 'Comfortaa', sans-serif;
    box-sizing: border-box;
    color: white;
}
button {
    cursor: pointer;
    border: none;
}

.openCasePage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*header*/
#header{
    display: flex;
    align-items: center;
}

#logo{
    width: 200px;
    height: 50px;
    margin-right: 20px;
}
#opencase_btn, #upgrade_btn{
    height: 100%;
    padding: 20px;
    border: 1px solid transparent;
}
#login_btn{
    margin-left: auto;
    margin-right: 50px;
    border: 1px solid #00ffff;
    padding: 15px 22px;
    border-radius: 10px;
}
#opencase_btn:hover, #upgrade_btn:hover{
    border: 1px solid #00ffff;
}
#header .btn:hover{
    background-color: #00ffff;
    color: #000000;
}
/* End header */

.title{
    text-align: center;
}
.case{
    width: 100%;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.case h3{
    width: 20%;
    font-size: 16px;
    text-align: center;
    border: 2px solid white;
    display: inline-block;
    padding:8px;
    border-radius: 15px;
}
.case-container{
    padding: 0px 5px 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media screen and (max-width: 768px){
    .case h1{
        font-size: 30px;
    }
}