* {
    background-color: #1F1E27;
    margin: 0;
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button {
    cursor: pointer;
    outline: none;
}

.distance_layer{
    width: 100%;
    padding-bottom: 30px;
}

.line_layer{
    display: flex;
    justify-content: center;
    margin : 50px;
}

/*header*/
.header{
    display: flex;
}
.header .img #logo{
    padding-left: 20px;
}
.header .navi span{
    align-content: center;
    color: white;
    padding: 32px 32px 32px 32px;
    line-height: 64px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}
.header .navi :hover{
    background-color: #f1f1f1;
    color: black;
}
.header .distance_8px{
    width: 5em;
}
.header .distance_64px{
    width: 85em;
}
.login {
    position: relative;
    width: 50%;
    display: flex-end;
}

.login .btn_login {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #27C3D8;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
  
.login .btn:hover {
    background-color: rgb(133, 122, 122);
}
.banner{
    width: 100%;
}

/*container*/
h1 {
    color: white;
    margin-left: 3%;
}
.line_layer{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 8px;
}
.button {
    text-decoration: none;
}
.case {
    display:flex;
    align-items: center;
    justify-content: center;
}

/*freecase*/
.case .case_contain{
    display: inline-block;
    text-align: center;
}
.case #freecase1 #free_case_name_1{
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 10px 0;
    color: #fff;
}

.case_name {
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 10px 0;
    color: #fff;
}

.price_span {
    text-transform: uppercase;
    height: 30px;
    width: 70px;
    line-height: 30px;
    padding: 10px 0;
    color: #fff;
    background-color: rgb(204, 126, 8);
    border-radius: 15%;
}
.button .price_span :hover{
    visibility: hidden;
}
.hover_span {
    visibility: hidden;
}
.case .price_span{
    text-decoration: none;
}

.freecase{
    margin-bottom: 30px;
}



/*footer*/
.footer{
    display: flex;
}
.footer .footer_terms ul{
    list-style-type: none;
    padding: 20;
    margin: 0;
    display: flex;
    line-height: 80px;
}
.footer .footer_terms li{
    color: #a6a6a6;
    margin-right: 40px;
}
.footer_terms li:last-child{
    margin-right: 0;
}

.footer .footer_logo{
    display: inline-block;
    align-items: center;
}
.footer .footer_logo img{
    height: 40px;
    padding: 0 20px;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
  
#back-to-top:hover {
    background-color: #333;
}