* {
    background-color: #1F1E27;
    margin: 0;
    border: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.button {
    cursor: pointer;
    outline: none;
}

/*header*/
.header{
    display: flex;
}
.header .img #logo{
    padding-left: 20px;
}
.header .navi span{
    align-content: center;
    color: white;
    padding: 32px 32px 20px 32px;
    line-height: 64px;
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 18px;
}
.header .navi a{
    text-decoration: none;
}
.header .navi :hover{
    background-color: #f1f1f1;
    color: black;
}
.header .distance_8px{
    width: 5em;
}
.header .distance_64px{
    width: 85em;
}
.login {
    position: relative;
    width: 50%;
    display: flex-end;
}

.login .btn_login {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #27C3D8;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.login .btn_login img{
    background-color: #27C3D8;
}
  
.login .btn:hover {
    background-color: rgb(133, 122, 122);
}

/*Live_drop*/
#live_drop{
    display: flex;
}


/*container*/
h1 {
    color: white;
    margin:20px 20px 20px 20px;
}
.container {
    padding-bottom: 20px;
    padding-top: 10px;
}
.line_layer{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    height: 8px;
}
.button {
    text-decoration: none;
}
.case {
    display:flex;
    align-items: center;
    justify-content: center;
}

.case .case_contain{
    display: inline-block;
    text-align: center;
}

.case .case_contain img {
    padding-left: 50px;
}

.case_name {
    text-transform: uppercase;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    padding: 10px 0;
    color: #fff;
}
.button {
    color: rgb(204,126,8);
}
.price_span {
    text-transform: uppercase;
    height: 30px;
    width: 100px;
    line-height: 30px;
    padding: 10px 8px;
    color: #fff;
    background-image: linear-gradient(to right,rgb(231, 37, 12), rgb(255, 155, 4));
    border-radius: 25%;
}
.button .price_span :hover{
    visibility: hidden;
}
.hover_span {
    visibility: hidden;
}
.case .price_span{
    text-decoration: none;
}

#contain_common {
    background-color: #322d44;
}
#contain_common h1 {
    background-color: #322d44;
}
#contain_common div{
    background-color: #322d44;
}
#contain_common a{
    background-color: #322d44;
}
#contain_common img{
    background-color: #322d44;
}

#contain_legendary {
    background-color: #322d44;
}
#contain_legendary h1 {
    background-color: #322d44;
}
#contain_legendary div{
    background-color: #322d44;
}
#contain_legendary a{
    background-color: #322d44;
}
#contain_legendary img{
    background-color: #322d44;
}
/*Live status*/
#live_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
#live_div .logo{
    display: grid;
    justify-content: center;
    align-items: center;
    padding-right: 200px;
}
#live_div .logo #logo_big{
    display: flex;
    justify-content: center;
    align-items: center;
}
#live_div .logo #logo_big img{
    padding: 20px 20px;
}
#live_div .logo #logo_small{
    display: flex;
    justify-content: center;
    align-items: center;
}
#live_div .logo #logo_small img{
    height: 40px;
    padding: 0 40px;
}

.live {
    padding : 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.live img{
    height: 50px;
    width: auto;
}
.live h3{
    color: #fff;
}


/*footer*/
.footer_terms ul{
    list-style-type: none;
    padding: 20;
    margin: 0;
    display: flex;
    line-height: 40px;
}
.footer_terms li{
    color: #a6a6a6;
    margin-right: 40px;
    padding: 0px 50px;
}
.footer_terms li:last-child{
    margin-right: 0;

}
.footer_terms li a{
    text-decoration: none;
    color: #f1f1f1;
}
.footer_logo{
    display: flex;
    align-items: center;
}
.footer_logo img{
    height: 40px;
    padding: 0 20px;
}
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}
  
#back-to-top:hover {
    background-color: #322d44;
}

.live h3{
    margin-left: 10px;
}


#skin img{
    width: 250px;
    height: 150px;
    background-image: url("/web/assets/img/frame/normal.png");
}
.opencase{
    width: 100%;
    height: 374px;
    background: var(--case-display, rgba(49, 57, 116, 0.7));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.opencase button{
    text-transform: uppercase;
    height: 30px;
    width: 100px;
    line-height: 30px;
    color: #fff;
    background-image: linear-gradient(to right,rgb(231, 37, 12), rgb(255, 155, 4));
    border-radius: 25%;
    margin-bottom: 30px;
}
.opencase h1{
    margin-right: 0;
    background-color: transparent;
}
.opencase img{
    width: 340px;
    height: 240px;
    background-color: transparent;
    margin-bottom: 20px;
    padding-left: 30px;
}


.case_item{
    width: 100%;
    height: 440px;
    background: rgba(26, 31, 61, 0.7);
    display: flex;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: transparent;

}

.image-container img{
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin: 20px 20px 20px 20px;
    border-style: solid;
}

.tier1{
    background-image: url("/web/assets/img/frame/tier1.png");
    border: 1px;
    border-color: #1e9733;
}
.tier2{
    background-image: url("/web/assets/img/frame/tier2.png");
    border: 1px;
    border-color: #27C3D8;
}
.tier3{
    background-image: url("/web/assets/img/frame/tier3.png");
    border: 1px;
    border-color: rgb(85, 29, 78);
}
.tier4{
    background-image: url("/web/assets/img/frame/tier4.png");
    border: 1px;
    border-color: rgb(185, 39, 39);
}
.tier5{
    background-image: url("/web/assets/img/frame/tier5.png");
    border: 1px;
    border-color: rgb(146, 146, 43);
}