/* styles/Inventory.css */

.inventory-container {
    display: flex;
    justify-content: space-around;
}

.user-inventory,
.server-inventory {
    flex: 1;
    padding: 10px;
}

.user-inventory h2,
.server-inventory h2,
.upgrade-section h2 {
    margin-bottom: 10px;
}

.upgrade-section {
    flex: 1;
    padding: 10px;
}

.selected {
    background-color: #3498db;
    color: #fff;
}

.user-inventory li:hover,
.server-inventory li:hover,
.selected {
    cursor: pointer;
}

.user-inventory ul,
.server-inventory ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-inventory li,
.server-inventory li {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.upgrade-section button {
    padding: 10px;
    background-color: #2ecc71;
    color: #fff;
    border: none;
    cursor: pointer;
}

.upgrade-section p {
    margin-top: 10px;
}

.user-inventory li:not(.selected),
.server-inventory li:not(.selected) {
    display: none;
}

/* Hiển thị toàn bộ nếu không có đối tượng nào được chọn */
.user-inventory:not(.selected) li,
.server-inventory:not(.selected) li {
    display: list-item;
}

.selected-items .user-selected-item img,
.selected-items .server-selected-item img {
    width: 200px;
    /* Đặt kích thước mong muốn */
    height: 200px;
    /* Đặt kích thước mong muốn */
}

.selected-items .user-selected-item,
.selected-items .server-selected-item {
    border: 2px solid #3498db;
    /* Màu sắc của đường viền */
    padding: 10px;
    margin: 10px;
}

.selected {
    border-color: #e67e22;
    /* Màu sắc của đường viền khi được chọn */
}