* {
    background-color: #1F1E27;
    font-family: 'Comfortaa', sans-serif;
    box-sizing: border-box;
    color: white;
}
button {
    cursor: pointer;
    border: none;
}

/*header*/
#header{
    display: flex;
    align-items: center;
}
#header a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    font-weight: bold;
}
#logo{
    width: 200px;
    height: 50px;
    margin-right: 20px;
}
#opencase_btn, #upgrade_btn{
    height: 100%;
    padding: 20px;
    border: 1px solid transparent;
}
#login_btn{
    margin-left: auto;
    margin-right: 50px;
    border: 1px solid #00ffff;
    padding: 15px 22px;
    border-radius: 10px;
}
#opencase_btn:hover, #upgrade_btn:hover{
    border: 1px solid #00ffff;
}
#header .btn:hover{
    background-color: #00ffff;
    color: #000000;
}
/* End header */

/* container */

/* free case */
    .Freecase a{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    .img_box{
        overflow: hidden;
        display: flex;
        width: 400px;
        height: 300px;
    }
    .Freecase h3{
        font-size: 20px;
        text-align: center;
        border: 2px solid white;
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 0;
        padding: 12px;
        border-radius: 15px;
    }
    .Freecase img:hover{
        animation: hoverCase linear 0.1s forwards;
    }
    @keyframes hoverCase{
        from {
            width: 90%;
        }
        to {
            width: 100%;
        }
    }
    .title{
        text-align: center;
    }
    .case{
        padding: 10px;
    }
    .case_img{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 300px;
    }
    .case_img img{
        width: 90%;
        margin: auto;
    }
    /* end free case */
