.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    padding-bottom: 20px;
}

.header a {
    text-decoration: none;
    color: white;
}

.header img {
    width: 200px;
    height: 50px;
    margin-right: 20px;
}

.header button {
    margin-left: auto;
    margin-right: 30px;
    border: 1px solid #00ffff;
    padding: 15px 22px;
    border-radius: 10px;
}

.header button:hover {
    background-color: #00ffffbb;
    color: #000000;
}

/* navigation */
.topnav {
    margin-left: 40px;
    padding: 15px;
    overflow: hidden;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
}