<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a class="active" href="account">See Account Information</a>
        <a href='logout'>Logout</a>
    </div>
    <p><img src='<%= user.photos[2].value %>' alt='Your Avatar Image' /></p>
    <p>ID: <%= user.id %>
    </p>
    <p>Name: <%= user.displayName %>
    </p>
</body>

</html>