<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <% if (!user) { %>
            <a href="auth/steam">Sign in with Steam</a>
            <% } else {%>
                <a href="account">See Account Information</a>
                <a href='logout'>Logout</a>
                <% } %>
    </div>
    <% if (!user) { %>
        <h2>Welcome! Please log in.</h2>
        <% } else { %>
            <h2>Hello, <%= user.displayName %>.</h2>
            <% } %>

                <!-- Should redirect to homepage if you're not logged in -->
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">Steam ID</th>
                            <th scope="col">Role</th>
                            <th scope="col">Trade URL</th>
                            <th scope="col">Wallet</th>
                            <th scope="col">Opened</th>
                            <th scope="col">Upgraded</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><button class="btn btn-warning">Edit</button>
                                <button class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
</body>

</html>