* {
    margin: 0;
    border: 0;
}

.content{
    background-color: #1F1E27;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}