.content-user-profile {
    width: 100%;
}

.user-profile {
    width: 100%;
    display: flex;
    padding: 40px 50px;
}

.ava-link {
    display: flex;
    width: 50%;
    border-right: 1px;
    border-color: aliceblue;
    border-style: solid;
}

.user-avatar img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-right: 20px;
}

.ava-link .infor {
    padding-right: 10%;

}



.infor h3 {
    margin-bottom: 30px;
    padding-top: 10px;
}

.infor h5 {
    white-space: nowrap;
    margin-bottom: 20px;
}

.infor button {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(20, 17, 68) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 99px;
    padding: 5px 20px;
    border-color: white;
    border: 1px;
    border-style: solid;
}

.infor button :hover {
    background: rgb(145, 20, 89);
    border-radius: 99px;
}


.properties {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.properties img {
    height: 40px;
    width: 40px;
}

.properties h4 {
    margin: 0 40px 10px 0px;
    vertical-align: baseline;
    white-space: nowrap;
}

.user-case-count span,
.user-upgrade-count span {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}


/*Inventory*/
.user-profile-inventory {
    padding: 50px;
}

.user-profile-inventory h2 {
    margin-bottom: 20px;
}

.user-profile-inventory-items ul {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
}

.user-profile-inventory-items li {
    text-decoration: none;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-profile-inventory-items li img {
    width: 150px;
    /* Set the desired width for your items */
    margin: 10px;
    /* Adjust margin as needed for spacing */
    text-align: center;
}

.user-profile-inventory-items button {
    background-color: #010a01;
    color: #fff;
    /* Màu văn bản là trắng để tương phản với nền */
    text-decoration: none;
    border: 2px solid #3d5afe;
    /* Màu viền xeon green */
    border-radius: 5px;
    /* Đường cong các góc */
    transition: background-color 0.3s, color 0.3s;
    margin-top: 5px;
}

.item-details {
    padding: 10px;
}

.user-inventory-button {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
